*{
    margin: 0;
    padding: 0;
    outline: 0;
    
}
.container{
    display: grid;
    grid-template-columns: 300px auto;
    max-width: 800px;
    height: 100vh;
    margin: auto;
    box-shadow: 0px 0px 3px 1px lightgray;
    padding: 20px;
    column-gap: 50px;
    border: 2px solid gray;
}
.left-top{
    background-color: blue;
    display: flex;
    /* height: 30%; */
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
.avtar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
}
.name,.title{
    font: bold;
    color: white;
}
.linkdin,.github{
    color: white;
}
.left-bottom{
    background-color: #3c4240;
    color: white;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: grid;
   
}
.nav-bottom{
        padding-top: 20px;
        padding-bottom: 20px;
}
.line1{
    height: 2px;
    color: white;
}
.information{
    list-style-type: none;
    padding-left: 20px;
    padding-top: 20px;
}
.contact{
    display: flex;
    gap: 8px;
    font: bold;
}
.details {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    padding-right: 20px;
  }
.objective-heading{
    color: rgb(58, 58, 248);
}

.line2 {
    height: 2px;
    background: black;
  }
  
  .experience,
  .project,
  .education {
    padding-top: 20px;
  }
  
  .experience-list li,
  .project-list li,
  .education-list li {
    list-style-type: none;
    padding-top: 10px;
  }
  
  .role,
  .project-name,
  .education-date {
    display: flex;
    gap: 24px;
  }
 
 
  